<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">


    <extensions>
        <!--enable NLog.Web for ASP.NET Core-->
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="file" fileName="${tempdir}/logs/${shortdate}.log"
                layout="${longdate}|${uppercase:${level}}|${logger:shortName=True}|${message} ${exception:format=tostring}" />
        <target xsi:type="ColoredConsole" name="consoleTarget"  layout="${longdate} ${uppercase:${level}} ${message}" />
    </targets>

    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Info" final="true" />

        <logger name="System.Net.Http.HttpClient.Default.*" minlevel="Info" final="true" />

        <logger name="*" minlevel="Info" writeTo="file" />
        <logger name="*" minlevel="Trace" writeTo="consoleTarget" />
    </rules>
</nlog>